
<div *ngIf="campaignDetails">
    <h2><span jhiTranslate="abcdeApp.campaignDetails.detail.title">Campaign Details</span> {{campaignDetails.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="abcdeApp.campaignDetails.title">Title</span></dt>
        <dd>
            <span>{{campaignDetails.title}}</span>
        </dd>
        <dt><span jhiTranslate="abcdeApp.campaignDetails.status">Status</span></dt>
        <dd>
            <span>{{campaignDetails.status}}</span>
        </dd>
        <dt><span jhiTranslate="abcdeApp.campaignDetails.campaignType">Campaign Type</span></dt>
        <dd>
            <span>{{campaignDetails.campaignType}}</span>
        </dd>
        <dt><span jhiTranslate="abcdeApp.campaignDetails.campaignPageUrl">Campaign Page Url</span></dt>
        <dd>
            <span>{{campaignDetails.campaignPageUrl}}</span>
        </dd>
        <dt><span jhiTranslate="abcdeApp.campaignDetails.prizeValue">Prize Value</span></dt>
        <dd>
            <span>{{campaignDetails.prizeValue}}</span>
        </dd>
        <dt><span jhiTranslate="abcdeApp.campaignDetails.terms">Terms</span></dt>
        <dd>
            <span>{{campaignDetails.terms}}</span>
        </dd>
        <dt><span jhiTranslate="abcdeApp.campaignDetails.startdate">Startdate</span></dt>
        <dd>
            <span>{{campaignDetails.startdate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="abcdeApp.campaignDetails.enddate">Enddate</span></dt>
        <dd>
            <span>{{campaignDetails.enddate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="abcdeApp.campaignDetails.airdropDetails">Airdrop Details</span></dt>
        <dd>
            <div *ngIf="campaignDetails.airdropDetails">
                <a [routerLink]="['/airdrop-details', campaignDetails.airdropDetails?.id]">{{campaignDetails.airdropDetails?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="abcdeApp.campaignDetails.registeredUser">Registered User</span></dt>
        <dd>
            <div *ngIf="campaignDetails.registeredUser">
                <a [routerLink]="['/registered-user', campaignDetails.registeredUser?.id]">{{campaignDetails.registeredUser?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'campaign-details/'+ campaignDetails.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
