<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCampaignParticipantLabel" jhiTranslate="abcdeApp.campaignParticipant.home.createOrEditLabel">Create or edit a Campaign Participant</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!campaignParticipant.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="campaignParticipant.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abcdeApp.campaignParticipant.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="campaignParticipant.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abcdeApp.campaignParticipant.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="campaignParticipant.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abcdeApp.campaignParticipant.uniqueURL" for="field_uniqueURL">Unique URL</label>
            <input type="text" class="form-control" name="uniqueURL" id="field_uniqueURL"
                [(ngModel)]="campaignParticipant.uniqueURL" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abcdeApp.campaignParticipant.points" for="field_points">Points</label>
            <input type="number" class="form-control" name="points" id="field_points"
                [(ngModel)]="campaignParticipant.points" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abcdeApp.campaignParticipant.campaignDetails" for="field_campaignDetails">Campaign Details</label>
            <select class="form-control" id="field_campaignDetails" name="campaignDetails" [(ngModel)]="campaignParticipant.campaignDetails" >
                <option [ngValue]="null"></option>
                <option [ngValue]="campaignDetailsOption.id === campaignParticipant.campaignDetails?.id ? campaignParticipant.campaignDetails : campaignDetailsOption" *ngFor="let campaignDetailsOption of campaigndetails; trackBy: trackCampaignDetailsById">{{campaignDetailsOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
